<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="map-full-card-content">
    <ion-item>
      <ion-input>
        <input placeholder="Enter Destination" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
      </ion-input>
    </ion-item>
    <agm-map [streetViewControl]="false" [zoomControl]="false" [latitude]="lat" [longitude]="lng" [zoom]="14">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      <agm-direction [origin]="origin" [destination]="destination">
      </agm-direction>
    </agm-map>
  </div>
    <div>
        <ion-button (click)="getRide()" expand="full"> ${{rideCost}} | {{totalDistance?.text}} | Order Ride</ion-button>
    </div>
</ion-content>
