<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content padding="">
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)]="profile.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>First Name</ion-label>
    <ion-input [(ngModel)]="profile.firstName"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Last Name</ion-label>
    <ion-input [(ngModel)]="profile.lastName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Address</ion-label>
    <ion-input [(ngModel)]="profile.address"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Phone Number</ion-label>
    <ion-input [(ngModel)]="profile.phoneNumber"></ion-input>
  </ion-item>
<ion-button expand=" block" (click)="createProfile()">Create Profile</ion-button>
</ion-content>
