<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="map-full-card-content">
    <agm-map #map1 [streetViewControl]="false" [zoomControl]="false" [latitude]="lat" [longitude]="lng" [zoom]="14">
      <agm-marker [latitude]="lat" [longitude]="lng" (markerClick)="goBack()"></agm-marker>
      <div *ngIf="!rideConfirmed">
        <agm-marker *ngFor="let pass of locPair" [latitude]="pass.lat" [longitude]="pass.lng" (markerClick)="inquireRide(pass.lat, pass.lng, pass.dlat, pass.dlng)"></agm-marker>
      </div>

      <agm-direction [origin]="origin" [waypointsMarker]="passengerLoc" [destination]="destination">
      </agm-direction>
    </agm-map>
  </div>
  <div>
    <ion-button (click)="confirmRide()" expand="full">Confirm Ride</ion-button>
  </div>
</ion-content>
