<ion-app>
  <ion-header>
    <ion-toolbar>
      <div fxLayout="row" fxLayoutAlign="end center" fxflex>
        <div fxFlex="85">
          <ion-title>
            GiddyUp
          </ion-title>
        </div>
        <div fxLayoutAlign="end center">
          <ion-button (click)="goHome()">
            <ion-icon name="home"></ion-icon>
          </ion-button>
          <ion-button (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
          </ion-button>
        </div>
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
