<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding" fxLayout="column" fxFlex>
    <div fxLayoutAlign="center center">
      <div fxLayoutAlign="center center" fxLayout="row">
        <ion-button (click)="navProfile()">Profile</ion-button>
      </div>
      <div fxLayoutAlign="center center" fxLayout="row">
        <ion-button (click)="navDriverMaps()">Driver Maps</ion-button>
      </div>
      <div fxLayoutAlign="center center" fxLayout="row">
        <ion-button (click)="navPassengerMaps()">Passenger Maps</ion-button>
      </div>
    </div>
  </div>
</ion-content>
